matplotlib==3.4.2
pandas==1.2.4
pip==21.0.1
torch==1.8.1
requests==2.25.1
scikit-learn==0.24.2
#seaborn==0.11.1
torchvision==0.9.1
tqdm=4.60.0
notebook==6.3.0
#episcanpy==0.1.10
anndata==0.7.3
scanpy<=1.4.6
louvain==0.6.1
h5py==2.10.0
gdown==3.13.0
numba==0.52.0
umap-learn==0.4.6
#hyperopt==0.2.5
